#navbar {
    border-radius: 0;
    background-color: #e63e3e;
    border-color: #ba3f3f;
    color: #000000;
    margin-bottom: 0;
}

#navbar a {
    color: #000000;
}

.sidebar-nav-fixed {
	width: 20%;
}

