nav {
    width: 100%;
    float: left;
    background-color: #f3f3f3;
}

nav a {
    float:left;
}

#navsearch {
    float: left;
    margin: 0 500px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

#navbar li {
    float: left;
}

#sidebar {
    float: left;
    width: 15%;
    display: inline-block;
    background-color: #e3e3e3;
}