body {
    overflow: scroll;
}

#wrapper {
    overflow: scroll;
    position: absolute;
}

#jumbotron {
    position: relative;
}

#navbar {
    background-color: #dd0000;
    border-bottom: 1px solid #bb0000;
}

.navbar-header {
    width: 100%;
    padding-left: 15px;
}

.navbar-brand a, .navbar-brand a:hover {
    text-decoration: none;
}

#title {
    color: #ffffff;
}

#wrapper {
    padding-left: 250px;
    padding-right: 250px;
}

#sidebar-left-wrapper, #sidebar-right-wrapper {
    background-color: #f0f0f0;
    padding: 15px;
}

.jumbotron {
    background-color: #ffffff;
    padding-top: 0px;
}

#sidebar-left-wrapper {
    margin-left: -250px;
    top: 51px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    border-right: solid 1px #c3c3c3;
}

#sidebar-right-wrapper {
    margin-right: -250px;
    top: 51px;
    right: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    border-left: solid 1px #c3c3c3;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}   

.menu-toggle {
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
    margin-top: 0;
    display: inline-block;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
